<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Par e Impar</title>
</head>
<body>

<h1>Hola</h1>
	
	<% @parimpar.each do |valores|  %>	
		<p><%= valores %></p>
	<% end %>
		
</body>
</html>