<h1>Mi primer proyecto en Sinatra con POST</h1>

<form action="/nuevo/objeto" method="POST">
	<label >Ingrese el Nombre:</label><input type="text" name="nombre">
	<input type="submit" value="Enviar">
</form>